[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/latex/start/vimtex"]
	path = pack/latex/start/vimtex
	url = https://github.com/lervag/vimtex
